body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    background-image: url(/Logo/Coalprints.png);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1000;
}

.logo {
    max-width: 80px;
    height: auto;
    margin-bottom: 20px;
}

.pdf-menu {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.title-pdf{
    margin-top: 0;
    margin-right: 10px;
}

div#pdf-viewer {
    display: flex;
    height: auto;
}

.pdf-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #009fe3;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

button.pdf-button {
    width: 90%;
    font-size: 1rem;
}

.pdf-button:hover {
    background-color: #e6007e;
}

.loader {
    font-size: 24px;
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pdf-viewer {
    width: 55%;
    height: 75%;
    max-width: 1200px;
    margin: 70px auto 0 auto;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    position: relative;
    perspective: 1000px;
}

.flipbook {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transform-style: preserve-3d;
}

.page {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    position: relative;
    transition: transform 0.5s;
    cursor: zoom-in;
}

.page canvas {
    width: 100%;
    height: 100%;
}

#page-controls {
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #009fe3;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    width: 160px; /* Increase width for both buttons */
    height: 50px; /* Same height for both buttons */
    font-size: 18px; /* Increase font size */
}

button:hover {
    background-color: #e6007e;
}

.magnifier {
    position: absolute;
    border: 1px solid #ccc;
    width: 350px;
    height: 200px;
    overflow: hidden;
    display: none;
    pointer-events: none;
    background-color: white;
    z-index: 10;
}

.magnifier img {
    position: absolute;
    width: 300%; /* Zoom level */
    height: 300%;
}

.zoomed {
    transform: scale(2); /* Adjust zoom level as needed */
    z-index: 1000;
}

.pdf-selection{
    display: none;
} 

@media (max-width: 880px) {
    .pdf-menu {
        display: none;
    }

    #pdf-viewer {
        width: 100%;
        margin-top: 120px;
    }

    .title-pdf{
        font-size: 1.2rem;
    }

    button {
        max-width: 120px;
        height: 40px;
        font-size: 14px;
        padding: 6px 12px;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .pdf-selection{
        display: block;
        margin-top: 0;
        margin-left: 30px;
    }


}

@media (max-width: 400px) {
    
    .logo {
        max-width: 70px;
    }

    button {
        max-width: 20%;
        height: 35px;
        font-size: .7rem;
    }

    .title-pdf{
        font-size: .7rem;
    }

    .pdf-selection{
        display: block;
    }

}
